<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="map">
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-5 col-12 px-0">
                <img class="card-img-top" style="width: 100%;" src="<%=camp.image%>" alt="Card image cap">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                        <h5 class="card-title"><%=camp.name%></h5>
                        <h5 class="card-title">$<%=camp.price%>/night</h5>
                    </div>
                    <p class="card-text">Created by: <%=camp.creator.username%>, <%=moment(camp.created).fromNow()%></p>
                    <p class="card-text"><%=camp.description%></p>
                    <%if(user && camp.creator.id.equals(id)){%>
                    <a class="btn btn-sm btn-outline-dark" href="/campground/<%=camp._id%>/update">Edit</a>
                    <form class="d-inline" action="/campground/<%=camp._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-outline-dark" href="/campground">Delete</button>
                    </form>
                    <%}%>
                    
                </div>
            </div>
            <div class="card card-body bg-light">
                <a href="/campground/<%=camp._id%>/comment/new" class="btn btn-outline-dark btn-block mb-5">Leave a
                    review</a>
                    <%camp.comments.forEach(function(cmnts){%>
                    <div class="d-flex flex-row justify-content-between">
                        <span><%=cmnts.author.username%></span>
                        <span class="pull-right"><%=moment(cmnts.created).fromNow()%></span>
                    </div>
                    <p><%=cmnts.comment%></p>
                    <%if(user && cmnts.author.id.equals(id)){%>
                    <form class="d-inline" action="/campground/<%=camp._id%>/comment/<%=cmnts.id%>?_method=DELETE"
                        method="POST">
                        <a href="/campground/<%=camp._id%>/comment/<%=cmnts.id%>/edit"
                            class="btn btn-sm btn-dark align-self-start">Edit</a>
                        <button class="btn btn-sm btn-dark display-inline"
                            href="/campground/<%=camp.id%>">Delete</button>
                    </form>
                    <%}%>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>